.loader {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  opacity: .5;
}

.loader > .loader-label {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: right;
}

.loader > .loader-spinner {
  width: 3.5rem;
  height: 3.5rem;
  border-width: .5rem;
}
